.panel-body {
    position: relative;
    min-height: calc(100% - 37px);
    padding: 0px;
}

.tab-content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

.tab-pane {
    position: relative;
    min-height: 100%;
}

.panel-heading .nav > li > a {
    padding: 5px 10px;
}

.draggingTab {
    border: 1px solid black;
    text-decoration: none;
    list-style: none;
    background: white;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: white;
}

.draggingTab a:link, .tomato a:visited, .tomato a:hover, .tomato a:active { color:black; }
